Repository yutakobayashidev/ava: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

docs(apps-sdk): add Widget Lab concept and architecture documentation
  labs/apps-sdk/docs/WIDGET_LAB_ARCHITECTURE.md
  labs/apps-sdk/docs/WIDGET_LAB_CONCEPT.md
  labs/apps-sdk/docs/WIDGET_PLAYGROUND_CONCEPT.md
Due: prettier

docs(apps-sdk): add MCP Client integration implementation plan
  labs/apps-sdk/docs/MCP_CLIENT_INTEGRATION.md
Due: prettier

fix:
  labs/apps-sdk/src/server/app.ts
  labs/apps-sdk/src/widget-runtime/index.ts
  labs/apps-sdk/src/widget-runtime/render-widget.tsx
  labs/apps-sdk/src/widget-runtime/types.ts
  labs/apps-sdk/src/widget-runtime/widget-shell.tsx
Due: prettier

fix:
  labs/apps-sdk/package.json
  labs/vite-plugin-widget/package.json
  labs/vite-plugin-widget/tsdown.config.ts
  pnpm-lock.yaml
Due: prettier

fix:
  labs/apps-sdk/package.json
  labs/apps-sdk/src/server/app.ts
  labs/widget-runtime/.gitignore
  labs/widget-runtime/README.md
  labs/widget-runtime/package.json
  labs/widget-runtime/src/index.ts
  labs/widget-runtime/src/render-widget.tsx
  labs/widget-runtime/src/types.ts
  labs/widget-runtime/src/widget-shell.tsx
  labs/widget-runtime/tsconfig.json
  labs/widget-runtime/tsdown.config.ts
  pnpm-lock.yaml
Due: prettier

fix:
  labs/apps-sdk/src/widget-runtime/index.ts
  labs/apps-sdk/src/widget-runtime/render-widget.tsx
  labs/apps-sdk/src/widget-runtime/types.ts
  labs/apps-sdk/src/widget-runtime/widget-shell.tsx
Due: prettier

feat: separate widget server and add structured content support
  apps/www/.env.example
  apps/www/env.ts
  apps/www/next.config.ts
  apps/www/package.json
  apps/www/src/handlers/mcp-server.ts
  apps/www/src/lib/widget-renderer.ts
  apps/www/src/usecases/taskSessions/controller.ts
  labs/apps-sdk/README.md
  labs/apps-sdk/package.json
  labs/apps-sdk/vite.config.ts
  pnpm-lock.yaml
Due: prettier, eslint

fix:
  .gitignore
  labs/apps-sdk/vite.config.ts
  labs/chapplin/package.json
  labs/vite-plugin-widget/package.json
  labs/widget-runtime/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier

feat: connect listTasks tool to widget display
  apps/www/package.json
  apps/www/src/handlers/mcp-server.ts
Due: prettier, eslint

chore: add dev:mcp script for unified development setup
  apps/www/package.json
  labs/apps-sdk/package.json
  package.json
  turbo.json
Due: prettier

fix: add dist output to turbo.json build task
  turbo.json
Due: prettier

fix:
  labs/chapplin/.gitignore
Due: none

refactor: rename tasks widget to task-list
  apps/www/src/handlers/mcp-server.ts
  labs/apps-sdk/src/widgets/task-list/components/TaskListView.tsx
  labs/apps-sdk/src/widgets/task-list/controller.tsx
  labs/apps-sdk/src/widgets/task-list/index.tsx
  labs/apps-sdk/src/widgets/task-list/lib/helpers.ts
  labs/apps-sdk/src/widgets/task-list/lib/use-openai-global.ts
Due: prettier, eslint

fix: include labs/apps-sdk/dist in Next.js build
  apps/www/next.config.ts
Due: prettier, eslint

style: fix prettier formatting in labs/chapplin/index.html
  labs/chapplin/index.html
Due: none

fix: add test task with dependency on build in turbo.json
  turbo.json
Due: prettier

fix:
  apps/www/package.json
  apps/www/vercel.json
Due: prettier

fix: use turbo in CI to build dependencies first
  .github/workflows/ci.yml
Due: prettier

fix: add pnpm prefix to turbo commands in CI
  .github/workflows/ci.yml
Due: prettier

fix: update mcp-server tests for new structuredContent format
  apps/www/src/handlers/mcp-server.test.ts
Due: prettier, eslint

fix:
  .github/workflows/ci.yml
  turbo.json
Due: prettier

fix:
  apps/www/vercel.json
Due: prettier

fix:
  turbo.json
Due: prettier

fix:
  apps/www/next.config.ts
  apps/www/src/lib/widget-renderer.ts
Due: prettier, eslint

fix:
  apps/www/src/lib/widget-renderer.ts
Due: prettier, eslint

fix:
  apps/www/package.json
Due: prettier

fix:
  apps/www/package.json
  pnpm-lock.yaml
Due: prettier

fix:
  infra/enviroments/prod/main.tf
  infra/enviroments/prod/variables.tf
  infra/modules/cloudflare-r2/main.tf
  infra/modules/cloudflare-r2/variables.tf
  labs/apps-sdk/package.json
  pnpm-lock.yaml
Due: prettier

refactor:
  labs/apps-sdk/src/server.ts
  labs/apps-sdk/src/server/app.ts
  labs/apps-sdk/src/server/assets.ts
  labs/apps-sdk/src/server/widget.tsx
Due: prettier

fix:
  apps/www/.gitignore
  apps/www/next.config.ts
  apps/www/package.json
  apps/www/src/lib/widget-renderer.ts
  pnpm-lock.yaml
Due: prettier, eslint

fix:
  apps/www/.gitignore
  apps/www/package.json
  apps/www/src/lib/widget-renderer.ts
  apps/www/vercel.json
Due: prettier, eslint

fix: terraform formatting in enviroments/prod/main.tf
  infra/enviroments/prod/main.tf
Due: none

fix:
  apps/www/next.config.ts
Due: prettier, eslint

fix:
  apps/www/src/handlers/mcp-server.ts
  apps/www/src/lib/widget-renderer.ts
Due: prettier, eslint

feat: redesign task-list widget following ChatGPT Apps SDK guidelines
  labs/apps-sdk/design/ui-guidelines.md
  labs/apps-sdk/design/ux-principles.md
  labs/apps-sdk/src/use-openai-global.ts
  labs/apps-sdk/src/widgets/task-list/components/TaskListView.tsx
  labs/apps-sdk/src/widgets/task-list/controller.tsx
Due: prettier

feat: add ChatGPT widgets for MCP task management tools
  apps/www/src/handlers/mcp-server.ts
  labs/apps-sdk/src/widgets/complete-task/components/CompleteTaskView.tsx
  labs/apps-sdk/src/widgets/complete-task/controller.tsx
  labs/apps-sdk/src/widgets/complete-task/index.tsx
  labs/apps-sdk/src/widgets/complete-task/lib/helpers.ts
  labs/apps-sdk/src/widgets/report-blocked/components/ReportBlockedView.tsx
  labs/apps-sdk/src/widgets/report-blocked/controller.tsx
  labs/apps-sdk/src/widgets/report-blocked/index.tsx
  labs/apps-sdk/src/widgets/report-blocked/lib/helpers.ts
  labs/apps-sdk/src/widgets/start-task/components/StartTaskView.tsx
  labs/apps-sdk/src/widgets/start-task/controller.tsx
  labs/apps-sdk/src/widgets/start-task/index.tsx
  labs/apps-sdk/src/widgets/start-task/lib/helpers.ts
  labs/apps-sdk/src/widgets/update-task/components/UpdateTaskView.tsx
  labs/apps-sdk/src/widgets/update-task/controller.tsx
  labs/apps-sdk/src/widgets/update-task/index.tsx
  labs/apps-sdk/src/widgets/update-task/lib/helpers.ts
Due: prettier, eslint

fix: correct SafeArea type handling in widget controllers
  labs/apps-sdk/src/widgets/complete-task/controller.tsx
  labs/apps-sdk/src/widgets/report-blocked/controller.tsx
  labs/apps-sdk/src/widgets/start-task/controller.tsx
  labs/apps-sdk/src/widgets/update-task/controller.tsx
Due: prettier

fix: change widget build format from IIFE to ES modules
  labs/apps-sdk/vite.config.ts
Due: prettier

Path conditions:
  prettier: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md,yml}
  eslint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx} and ^apps/www/
