Repository yutakobayashidev/ava: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

refactor: build each widget individually to enable inlineDynamicImports
  labs/apps-sdk/build.ts
  labs/apps-sdk/package.json
  labs/apps-sdk/vite.config.ts
Due: prettier

refactor: update widget rendering to support individual CSS files
  apps/www/src/lib/widget-renderer.ts
  labs/apps-sdk/vite.config.ts
Due: prettier, eslint

feat: mcp apps
  labs/mcp-apps/.gitignore
  labs/mcp-apps/package.json
  labs/mcp-apps/src/server.ts
  labs/mcp-apps/src/ui-react.tsx
  labs/mcp-apps/tsconfig.json
  labs/mcp-apps/vite.config.ts
  pnpm-lock.yaml
Due: prettier

feat: artifact
  infra/enviroments/prod/.terraform.lock.hcl
  infra/enviroments/prod/main.tf
  infra/enviroments/prod/outputs.tf
  infra/enviroments/prod/provider.tf
  infra/enviroments/prod/variables.tf
  infra/modules/artifact-registry/artifact-registry.tf
  infra/modules/artifact-registry/outputs.tf
  infra/modules/artifact-registry/variables.tf
Due: none

feat: add batch-jobs service with Docker support
  apps/batch-jobs/.dockerignore
  apps/batch-jobs/.gitignore
  apps/batch-jobs/Dockerfile
  apps/batch-jobs/package.json
  apps/batch-jobs/src/index.ts
  apps/batch-jobs/tsconfig.json
  pnpm-lock.yaml
Due: prettier

feat: add Cloud Build and Cloud Run Jobs infrastructure
  apps/batch-jobs/cloudbuild.yaml
  infra/enviroments/prod/infra/modules/cloud-run-service-account/README.md
  infra/enviroments/prod/main.tf
  infra/enviroments/prod/terraform.tfvars.example
  infra/enviroments/prod/variables.tf
  infra/modules/cloud-build-trigger/README.md
  infra/modules/cloud-build-trigger/main.tf
  infra/modules/cloud-build-trigger/outputs.tf
  infra/modules/cloud-build-trigger/variables.tf
  infra/modules/cloud-run-service-account/README.md
  infra/modules/cloud-run-service-account/main.tf
  infra/modules/cloud-run-service-account/outputs.tf
  infra/modules/cloud-run-service-account/variables.tf
Due: prettier

fix: add Cloud Build service account to resolve 400 error
  infra/enviroments/prod/.terraform.lock.hcl
  infra/modules/cloud-build-trigger/main.tf
Due: none

style: run terraform fmt
  infra/enviroments/prod/main.tf
Due: none

docs: add Terraform tf.sh script usage instructions
  AGENTS.md
Due: prettier

fix: add CLOUD_LOGGING_ONLY option to cloudbuild.yaml
  apps/batch-jobs/cloudbuild.yaml
Due: none

fix: use gcr.io/cloud-builders/docker for push step
  apps/batch-jobs/cloudbuild.yaml
Due: none

feat: add Cloud Scheduler module for periodic batch-jobs execution
  infra/enviroments/prod/main.tf
  infra/modules/cloud-build-trigger/main.tf
  infra/modules/cloud-scheduler/README.md
  infra/modules/cloud-scheduler/main.tf
  infra/modules/cloud-scheduler/outputs.tf
  infra/modules/cloud-scheduler/variables.tf
Due: prettier

chpre: cleanup_policies
  infra/modules/artifact-registry/artifact-registry.tf
Due: none

feat: integrate database access for batch-jobs
  apps/batch-jobs/cloudbuild.yaml
  apps/batch-jobs/package.json
  apps/batch-jobs/src/index.ts
  infra/enviroments/prod/main.tf
  infra/enviroments/prod/variables.tf
  infra/modules/database-secrets/main.tf
  infra/modules/database-secrets/outputs.tf
  infra/modules/database-secrets/variables.tf
  pnpm-lock.yaml
Due: prettier

fix: include database package in batch-jobs Docker build
  apps/batch-jobs/Dockerfile
Due: none

fix: change moduleResolution from NodeNext to bundler
  apps/batch-jobs/tsconfig.json
Due: prettier

feat: organize landing page components and add source page
  apps/www/src/app/(public)/source/page.tsx
  apps/www/src/app/page.tsx
  apps/www/src/components/landing/cta-section.tsx
  apps/www/src/components/landing/dashboard-section.tsx
  apps/www/src/components/landing/features-section.tsx
  apps/www/src/components/landing/footer.tsx
  apps/www/src/components/landing/hero-section.tsx
  apps/www/src/components/landing/index.ts
  apps/www/src/components/landing/privacy-section.tsx
  apps/www/src/components/landing/setup-section.tsx
  apps/www/src/components/landing/slack-demo-section.tsx
  apps/www/src/components/landing/vision-section.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md,yml}
  eslint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx} and ^apps/www/
