Repository yutakobayashidev/ava: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md,yml}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    eslint:
      root: apps/www/
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true

fix:
  apps/www/src/usecases/taskSessions/index.ts
Due: prettier, eslint

fix:
  apps/www/src/usecases/auth/loginWithSlack.ts
  apps/www/src/usecases/taskSessions/interface.ts
Due: prettier, eslint

fix:
  .gitignore
  tsconfig.tsbuildinfo
Due: none

refactor: auth
  .mcp.json
  apps/www/src/app/(private)/oauth/authorize/page.tsx
  apps/www/src/app/(private)/onboarding/complete/page.tsx
  apps/www/src/app/(private)/onboarding/connect-slack/page.tsx
  apps/www/src/app/(private)/onboarding/page.tsx
  apps/www/src/app/(private)/onboarding/setup-mcp/page.tsx
  apps/www/src/app/(private)/settings/channel/page.tsx
  apps/www/src/app/(private)/settings/page.tsx
  apps/www/src/app/(public)/page.tsx
  apps/www/src/handlers/api/slack.ts
  apps/www/src/handlers/api/tasks.ts
  apps/www/src/lib/auth.ts
  apps/www/src/middleware/auth.test.ts
  apps/www/src/middleware/auth.ts
  apps/www/src/middleware/onboarding.test.ts
  apps/www/src/middleware/onboarding.ts
  apps/www/src/middleware/rewrite-markdown.test.ts
  apps/www/src/middleware/rewrite-markdown.ts
  apps/www/src/middleware/session.ts
  apps/www/src/proxy.test.ts
  apps/www/src/proxy.ts
Due: prettier, eslint

fix:
  apps/www/src/proxy.ts
Due: prettier, eslint

refactor: consolidate all middleware into proxy.ts
  apps/www/src/middleware/auth.test.ts
  apps/www/src/middleware/auth.ts
  apps/www/src/middleware/onboarding.test.ts
  apps/www/src/middleware/onboarding.ts
  apps/www/src/middleware/rewrite-markdown.test.ts
  apps/www/src/middleware/rewrite-markdown.ts
  apps/www/src/proxy.test.ts
  apps/www/src/proxy.ts
Due: prettier, eslint

refactor: use sessionMiddleware in Slack API handlers
  apps/www/src/handlers/api/slack.ts
  apps/www/src/handlers/api/tasks.ts
  apps/www/src/middleware/session.ts
Due: prettier, eslint

docs: clarify workspace requirements in Slack install endpoints
  apps/www/src/handlers/api/slack.ts
Due: prettier, eslint

test: add tests for sessionMiddleware requiredWorkspace option
  apps/www/src/middleware/session.test.ts
Due: prettier, eslint

notes
  eng/mcp.md
Due: prettier

oauth
  eng/ oauth.md
Due: prettier

feat: labs
  eng/apps-sdk.md
  labs/apps-sdk/index.html
  labs/apps-sdk/package.json
  labs/apps-sdk/src/index.ts
  labs/apps-sdk/src/tools/get.tsx
  labs/apps-sdk/tsconfig.json
  labs/apps-sdk/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

stripe
  eng/stripe.md
Due: prettier

feat(infra): add Cloudflare Email Routing with worker integration
  infra/enviroments/prod/main.tf
  infra/enviroments/prod/outputs.tf
  infra/enviroments/prod/provider.tf
  infra/enviroments/prod/variables.tf
Due: none

mcp apps
  eng/apps-sdk.md
Due: prettier

add link
  eng/ oauth.md
  eng/apps-sdk.md
Due: prettier

add link
  eng/ oauth.md
Due: prettier

research
  .serena/memories/coding_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  eng/research.md
Due: prettier

rename
  eng/apps-sdk.md
  labs/chapplin/index.html
  labs/chapplin/package.json
  labs/chapplin/src/index.ts
  labs/chapplin/src/tools/get.tsx
  labs/chapplin/tsconfig.json
  labs/chapplin/vite.config.ts
  pnpm-lock.yaml
Due: prettier

feat: add MCP task list widget for apps-sdk
  labs/apps-sdk/.gitignore
  labs/apps-sdk/package.json
  labs/apps-sdk/src/globals.css
  labs/apps-sdk/src/types.ts
  labs/apps-sdk/src/widgets/todo/components/TodoListView.tsx
  labs/apps-sdk/src/widgets/todo/controller.tsx
  labs/apps-sdk/src/widgets/todo/index.tsx
  labs/apps-sdk/src/widgets/todo/lib/helpers.ts
  labs/apps-sdk/src/widgets/todo/lib/use-openai-global.ts
  labs/apps-sdk/tsconfig.json
  labs/apps-sdk/vite-plugin-multi-widget.ts
  labs/apps-sdk/vite.config.ts
Due: prettier

feat: add MCP server with task list widget integration
  labs/apps-sdk/.env.example
  labs/apps-sdk/package.json
  labs/apps-sdk/src/server.ts
  labs/apps-sdk/src/server/assets.ts
  labs/apps-sdk/src/server/widget.ts
Due: prettier

chore: upgrade @types/node to 24.10.1 and add dev scripts
  apps/www/package.json
  labs/apps-sdk/package.json
  labs/chapplin/package.json
  packages/database/package.json
  packages/integrations/package.json
  pnpm-lock.yaml
Due: prettier

fix:
  labs/apps-sdk/package.json
  labs/apps-sdk/src/server/assets.ts
  labs/apps-sdk/src/server/widget.ts
Due: prettier

feat: make widget rendering dynamic and inline assets
  labs/apps-sdk/.serena/.gitignore
  labs/apps-sdk/.serena/project.yml
  labs/apps-sdk/package.json
  labs/apps-sdk/src/server.ts
  labs/apps-sdk/src/server/assets.ts
  labs/apps-sdk/src/server/widget.ts
Due: prettier

fix:
  labs/apps-sdk/package.json
  labs/apps-sdk/src/widgets/todo/index.tsx
  labs/apps-sdk/vite-plugin-multi-widget.ts
  labs/apps-sdk/vite.config.ts
  pnpm-lock.yaml
Due: prettier

fix:
  labs/apps-sdk/.env.example
  labs/apps-sdk/.serena/.gitignore
  labs/apps-sdk/.serena/project.yml
  labs/apps-sdk/src/server.ts
  labs/apps-sdk/src/server/widget.ts
  labs/apps-sdk/src/widgets/tasks/components/TaskListView.tsx
  labs/apps-sdk/src/widgets/tasks/controller.tsx
  labs/apps-sdk/src/widgets/tasks/index.tsx
  labs/apps-sdk/src/widgets/tasks/lib/helpers.ts
  labs/apps-sdk/src/widgets/tasks/lib/use-openai-global.ts
Due: prettier

refactor: rename todo widget to tasks and migrate to hono/jsx rendering
  labs/apps-sdk/src/server/widget.ts
  labs/apps-sdk/src/server/widget.tsx
Due: prettier

fix:
  labs/apps-sdk/src/server.ts
Due: prettier

fix:
  labs/apps-sdk/.serena/.gitignore
  labs/apps-sdk/.serena/project.yml
  labs/apps-sdk/package.json
  labs/apps-sdk/src/server.ts
  pnpm-lock.yaml
Due: prettier

refactor: integrate Hono dev server with Vite configuration
  labs/apps-sdk/package.json
  labs/apps-sdk/src/server.ts
  labs/apps-sdk/src/server/app.ts
  labs/apps-sdk/src/server/assets.ts
  labs/apps-sdk/src/server/widget.tsx
  labs/apps-sdk/vite-plugin-multi-widget.ts
  labs/apps-sdk/vite.config.ts
  pnpm-lock.yaml
Due: prettier

refactor: improve dev widget origin handling and Vite serving
  labs/apps-sdk/src/server/app.ts
  labs/apps-sdk/vite-plugin-multi-widget.ts
  labs/apps-sdk/vite.config.ts
Due: prettier

refactor:
  labs/apps-sdk/src/server/app.ts
  labs/apps-sdk/src/server/widget.tsx
  labs/apps-sdk/src/widgets/tasks/components/TaskListView.tsx
  labs/apps-sdk/vite-plugin-multi-widget.ts
Due: prettier

feat: add Cloudflare R2 and API token Terraform modules
  infra/enviroments/prod/.terraform.lock.hcl
  infra/enviroments/prod/main.tf
  infra/enviroments/prod/provider.tf
  infra/enviroments/prod/terraform.tfvars.example
  infra/enviroments/prod/variables.tf
  infra/modules/cloudflare-account-token/README.md
  infra/modules/cloudflare-account-token/main.tf
  infra/modules/cloudflare-account-token/outputs.tf
  infra/modules/cloudflare-account-token/provider.tf
  infra/modules/cloudflare-account-token/variables.tf
  infra/modules/cloudflare-r2/README.md
  infra/modules/cloudflare-r2/main.tf
  infra/modules/cloudflare-r2/outputs.tf
  infra/modules/cloudflare-r2/provider.tf
  infra/modules/cloudflare-r2/variables.tf
Due: prettier

fix:
  infra/enviroments/prod/terraform.tfvars.example
Due: none

fix: fmt
  infra/enviroments/prod/main.tf
  infra/modules/cloudflare-r2/main.tf
Due: none

feat(apps-sdk): improve dev environment and add documentation
  labs/apps-sdk/README.md
  labs/apps-sdk/package.json
  labs/apps-sdk/src/server/app.ts
  labs/apps-sdk/vite-plugin-multi-widget.ts
  labs/apps-sdk/vite.config.ts
  pnpm-lock.yaml
Due: prettier

docs(apps-sdk): add detailed architecture explanation to README
  labs/apps-sdk/README.md
Due: prettier

chore(apps-sdk): remove serena project files
  labs/apps-sdk/.serena/.gitignore
  labs/apps-sdk/.serena/project.yml
Due: prettier

refactor(labs): extract vite-plugin-widget as separate package
  labs/apps-sdk/package.json
  labs/apps-sdk/vite.config.ts
  labs/vite-plugin-widget/.gitignore
  labs/vite-plugin-widget/package.json
  labs/vite-plugin-widget/src/index.ts
  labs/vite-plugin-widget/tsconfig.json
  labs/vite-plugin-widget/tsup.config.ts
  pnpm-lock.yaml
Due: prettier
